<p>
  admin-home works!
</p>

<div>
  admin-home
</div>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<!-- <div *ng if ="UserProfilesfromAPI"> -->
  <div>
  <table>
    <tr>
      <th>UserId</th>
      <th>UserFirstName</th>
      <th>UserLastName</th>
      
      <th>DateOfBirth</th>
      <th>CommunicationAddress</th>
      <th>EmailId</th>
      <th>MobileNumber</th>
      <th>Interests</th>
    
    </tr>
    
  <tr *ngFor="let user of UserProfile">

    
<!-- <tr> -->
      <td>{{user.userId}}</td>
    <td>{{user.userFirstName}}</td>
    <td>{{user.userLastName}}</td>
    
    <td>{{user.dateOfBirth}}</td>
    <td>{{user.communicationAddress}}</td>
    <td>{{user.emailId}}</td> 
    <td>{{user.mobileNumber}}</td>
    <td>{{user.interests}}</td>
    <td>
      <button value = Edit (click)="loadUserRecord(user,i)">Edit</button>
      <button (click)="deleteUserRecord(i)">Delete</button>
    </td>
    </tr>
  </table>
  
</div>


