################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExampleApplication/.vs/ExampleApplication/v16
*.v2
/ExampleApplication/ExampleWebAPI/bin/Debug/netcoreapp3.1
/ExampleApplication/ExampleWebAPI/obj
