
<form [formGroup]="SignupForm" (ngSubmit)="onAdd()"></form>
<p>
  signup works!
</p>

<p>
  <label for="userId">Enter userId </label>
  <input type="text" id="userId" formControlName="userId">
</p>

<p>
  <label for="firstName">Enter firstName </label>
  <input type="text" id="firstName" formControlName="firstName">
</p>


<p>
  <label for="LastName">Enter LastName </label>
  <input type="text" id="LastName" formControlName="LastName">
</p>

<p>
  <label for="DateOfBirth">Enter DateOfBirth </label>
  <input type="date" id="DateOfBirth" formControlName="DateOfBirth">
</p>
   
<p>
  <label for="CommuicationAddress">Enter CommuicationAddress </label>
  <input type="text" id="CommuicationAddress" formControlName="CommuicationAddress">
</p>

<p>
  <label for="emailId">Enter emailId </label>
  <input type="email" id="emailId" formControlName="emailId">
</p>
  
<p>
  <label for="mobileNumber">Enter mobileNumber </label>
  <input type="number" id="mobileNumber" formControlName="mobileNumber">
</p>
 
<p>
  <label for="interests">Enter interests </label>
  <input type="text" id="interests" formControlName="interests">
</p>
 
<p>
  <label for="Password">Enter Password </label>
  <input type="password" id="Password" formControlName="Password">
</p>
 
<p>
  <label for="ConfirmPassword">Enter ConfirmPassword </label>
  <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword">
</p>
  
  

  <br>
  <button type="submit">Add</button>
  <br>



  
  <!-- <button (click)="SignupUser()">Signup</button></p> -->