.bg-container {
    border-radius: 20px;
    background-image: url("https://res.cloudinary.com/deqpqyczt/image/upload/v1635471821/6057684e5923ad2ae43c8150_bavassano_homepage_before_lcwd6c.jpg");
    background-size: cover;
    text-align:center;
    font-family: "Bree serif";
    color:black;
    height:100%;
    width:90%;
}

button {
    background-color:black;
    color:yellow;
    border-radius: 5px;
    border-width: 0px;
}